// colors
$_black: #000;
$_white: #FFF;
$_red_normal: #FF4343;
$_red_hover: #E71414;
$_red_active: #FF4343;
$_red_active_work: #B90C0C;
$_gray: #BABBC5;
$_gray_logo: #656980;
$_mask: rgba(37, 43, 73, .8);
$_feature_title: #2D3033;
$_feature_desc: #6C7279;
$_icon_color: #C6CBCD;
$_bg_testimonials: #5C3249;
$_bg_footer: #353C65;
$_bg_footer_copyright: #2C3154;
$_color_footer_copyright: #808080;

//fonts
//16px - 1rem
$_h1: 4rem;//64px;
$_h1_tablet: 3rem;//48px;
$_h2: 2.25rem;//36px;
$_h3: 1.875rem;//30px;
$_h4: 1.5rem;//24px;
$_h5: 1.125rem;//18px;
$_h6: 0.8125rem;//13px;
$_h6_mobile: 0.875rem;//14px;
$_sign_mobile: 0.75rem;//12px;

//line heigth
$_h1_lh: 4.69625rem;//75.14px;
$_h1_lh_tablet: 3.521875rem;//56.35px;
$_h2_lh: 2.64125rem;//42.26px;
$_h3_lh: 2.20125rem;//35.22px;
$_h4_lh: 1.76125rem;//28.18px;
$_h5_lh: 1.320625rem;//21.13px;
$_h6_lh: 0.95375rem;//15.26px;
$_h6_lh_mobile: 1.0275rem;//16.44px;



// fonts
// $_main_title: 2.25rem;
// $_title: 1.875rem;
// $_sub_title: 1.25rem;

// etc
//$_border: 1px solid $_red;