.header {
    //padding: 20px 0;
    background-image: url(../img/background/background-banner.png);
    //background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    padding: 0 0 120px;
    @media (max-width: 1024px) {
        padding: 0 0 126px;
    }
    @media (max-width: 320px) {
        padding: 0 0 52px;
    }

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $_mask;
    }
}

.navigation {
    margin-bottom: 130px;
}

.navigation-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $_gray;
        position: absolute;
        top: 100%;
    }
}

.navigation-logo__left-part {
    @include h4;
    color: $_gray_logo;
}

.navigation-logo__right-part {
    @include h4;
    font-weight: 400;
    color: $_white;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    width: 670px;
    // @media (max-width: 1510px) {
    //     width: 670px;
    // }
    // @media (min-width: 1024px) {//1024 и более
    //     width: 670px;
    // }
    @media (max-width: 1024px) {
        width: 566px;
    }
    @media (max-width: 320px) {
        width: 320px;
    }
}

.navigation-list__item {
    cursor: pointer;
    position: relative;
    padding: 1.25rem 0;

    &:hover::before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: $_gray;
        position: absolute;
        //top: calc(100% - 3px);
        bottom: 0;
    }

    a {
        @include nav_text($_white);
        text-transform: uppercase;
    }
}

.navigation-list__item-active {

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: $_red_active;
        position: absolute;
        bottom: 0;
    }

    a {
        @include nav_text($_red_active);
    }
}

.banner-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;

    @include h1;
    @media (max-width: 1024px) {
        @include h1_tablet;
        margin-bottom: 62px;

    }
    @media (max-width: 320px) {
        @include h1_mobile;
        margin-bottom: 32px;
    }
}

.banner-desc {
    margin-bottom: 80px;
    @media (max-width: 1024px) {
        margin-bottom: 90px;
    }
    @media (max-width: 320px) {
        margin-bottom: 50px;
    }

    p {
        color: $_white;
        text-align: center;
        @include h4;
        @media (max-width: 1024px) {
            @include h5;
        }
        @media (max-width: 320px) {
            @include h6_mobile;
        }
        font-weight: 400;
    }
}

.banner-find {
    padding: 11px;
    text-align: center;
    margin: auto;
    background-color: $_red_normal;
    cursor: pointer;
    transition: .2s;

    width: 370px;
    @media (max-width: 1024px) {
        width: 314px;
    }
    @media (max-width: 320px) {
        width: 280px;
    }

    &:hover {
        background-color: $_red_hover;
    }

    &:active {
        background-color: $_red_active;
    }

    a {
        @include button_text;
    }
}